@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/cabinet-grotesk");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.ant-table-filter-dropdown-btns button.ant-btn-primary {
  background-color: #57cc99 !important;
}

.card-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  transition: 0.5s;
  transform: translate(-105%, 0);
}

.card-btn {
  transition: 0.5s;
}

.card-btn:hover:before {
  transform: translate(0, 0);
}

.text-scroll-effect-left {
  animation: scrollTextLeft 20s infinite linear;
}
.text-scroll-effect-right {
  animation: scrollTextRight 20s infinite linear;
}

.crossed-text {
  white-space: nowrap;
}

@keyframes scrollTextLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.alegreya {
  font-family: "Alegreya", serif;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
}
.grotesk {
  font-family: "Cabinet Grotesk", sans-serif;
}

.animation-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  display: flex;
  animation: fadeIn 0.5s;
}

.animation-bar {
  width: 10vw;
  height: 105vh;
}

.announcement {
  display: flex;
  justify-content: center;
  padding-block: 0.3125rem;
  padding-inline: 0.75rem;
  background: linear-gradient(
    94deg,
    rgba(253, 54, 110, 0) 0%,
    rgba(253, 54, 110, 0.5) 50.82%,
    rgba(253, 54, 110, 0) 100%
  );
}

.main-header {
  /* position: sticky; */
  /* z-index: 999; */
  inset-block-start: 0;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.glow {
  -webkit-box-shadow: 0px 0px 274px 102px rgba(253, 54, 110, 0.51);
  -moz-box-shadow: 0px 0px 274px 102px rgba(253, 54, 110, 0.51);
  box-shadow: 0px 0px 274px 102px rgba(253, 54, 110, 0.51);
}

.btn-glow:hover {
  -webkit-box-shadow: 0px 0px 100px 17px rgba(253, 54, 110, 0.8);
  -moz-box-shadow: 0px 0px 100px 17px rgba(253, 54, 110, 0.8);
  box-shadow: 0px 0px 100px 17px rgba(253, 54, 110, 0.8);
  transition: 0.5s ease-in-out;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #0b090a;
  will-change: transform;
  z-index: 105;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.nav-overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
  text-transform: uppercase;
}

.menu-item {
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-item p {
  position: relative;
  font-size: 12vw;
  text-align: center;
  line-height: 100%;
  will-change: transform;
  transition: letter-spacing 0.5s;
  color: #cdc6be;
}

.menu-item p:hover {
  letter-spacing: 0.075em;
}

.active-route::after,
.menu-item:hover p::after,
.menu-item p::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  background: #c03f13;
  width: 100%;
  height: 12px;
  /* z-index: 1; */
}

/* .menu-item:hover .active-route::after {
  width: 0% !important;
} */

.menu-item p::after {
  width: 0%;
  transition: 0.3s ease-in-out;
}

.active-route::after {
  width: 100% !important;
}

.sub-nav {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
  opacity: 0;
}

@keyframes scrollTextRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
