.students_logo {
  padding: 1rem 2rem;
}

.students_sidebar {
  width: 100vh;
  height: max-content;
  display: flex;
  align-items: flex-start;
  transform: rotate(-90deg) translate(-85%, 0);
  transform-origin: left top;
  /* padding: 1.5em 3em; */
  /* z-index: 30;
  position: relative; */
}

.students_sidebar > div:nth-child(1) {
  flex: 2;
}

.students_sidebar > div:nth-child(2) {
  flex: 2;
  display: flex;
  gap: 6em;
}

#students_header {
  text-transform: uppercase;
  font-size: 7.5rem;
  line-height: 85%;
  margin-bottom: 4rem;
}

.students_slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.students_slider-wrapper {
  position: absolute;
  top: 0px;
  width: 8000px;
  padding: 0 600px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.students_slide {
  width: 400px;
  height: 500px;
  background: #e3e3e3;
}

.students_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.students_slide-details {
  transition: 0.3s ease-in-out;
}

.students_slide:hover .students_slide-details {
  transform: translateY(0);
}

.students_slide:hover img {
  transform: scale(1);
}

@media screen and (max-width: 879px) {
  .students_slide {
    width: auto;
    height: 450px;
    background: #e3e3e3;
    margin-bottom: 2.5rem;
  }
  /* .students_sidebar #students_header {
    display: none;
  } */
  .students_sidebar {
    position: fixed;
  }
}
